:root {
  --brand-color: #757575;
  --beside-color: #2196f3;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--brand-color);
  background-color: #ffffff;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
}
.container-header {
  display: flex;
  align-items: center;
  height: 80px;
}
.box-1 {
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.header {
  display: flex;
  align-items: center;
  margin-right: 93px;
  flex-direction: row;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: 46px;
}
.navigation:not(:last-child) {
  margin-right: 46px;
}
.link {
  display: flex;
  align-items: center;
}

.heading {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.heading-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
}
.contact-tel {
  padding-left: 10px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  background-color: #ffffff;
  transition: color var(--animation);
}
.header:hover {
  color: var(--beside-color);
}
.header-logo {
  color: var(--beside-color);
}

.header-logo-studio {
  color: #ffffff;
}
.title {
  font-size: 18px;
  line-height: 2;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 4px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.description {
  font-size: 16px;
  line-height: 1.8;
  color: var(--brand-color);
  padding-left: 24px;
  padding-bottom: 20px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.button-colour {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  background: var(--beside-color);
  border-radius: 4px;
  line-height: 1.8;
  width: 200px;
  transition: color var(--animation);
}
.button-colour:hover {
  background-color: #188ce8;
}
.section-solution .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: auto;
  height: 100%;
  margin: 0 auto;
}
.button {
  background-color: var(--beside-color);
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  line-height: 1.8;
}

.button-section {
  padding-bottom: 0px;
}
.navigation {
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  line-height: 100%;
  text-align: left;
  align-items: baseline;
  letter-spacing: 2%;
  fill: solid;
  color: #212121;
  background-color: #ffffff;
  display: flex;
  transition: color var(--animation);
}
.navigation:hover {
  color: var(--beside-color);
}
.header-two {
  font-size: 36px;
  line-height: 1.1;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}
.contact {
  font-size: 14px;
  list-style-type: none;
  line-height: 1.1;
  color: var(--brand-color);
  text-decoration: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 10px;
  transition: color var(--animation);
}
.contact:hover {
  color: var(--beside-color);
}
.section-solution {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-grow: 1;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.solution {
  font-style: Black;
  font-size: 44px;
  line-height: 1.3;
  vertical-align: top;
  color: white;
  text-align: center;
  max-width: 696px;
  padding-bottom: 30px;
}

.heading {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}
.headings {
  list-style: none;
  color: black;
  font-size: 14px;
  line-height: 1.1;
  display: flex;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--brand-color);
  display: flex;
}
.section-lorem-ipsum {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.ipsum {
  padding-right: 30px;
}
.service {
  display: flex;
  flex-direction: column;
}
.header {
  font-style: 700;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  vertical-align: top;
  color: black;
  list-style-type: none;
}
.img-index {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: auto;
  border-radius: 4px;
}
.white {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  margin-right: 30px;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
}
.white:first-child {
  margin-left: 0px;
}

.white:last-child {
  margin-right: 0px;
}

.person {
  color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.job {
  font-size: 16px;
  color: var(--brand-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}
.members {
  background-color: #f5f4fa;
}
.footer {
  text-decoration: none;
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-header {
  background-color: #2f303a;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  width: 145px;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 9px;
  padding-bottom: 9px;
  list-style: none;
}
.footer-contact {
  color: #ffffff;
  opacity: 0.6;
  background-color: #2f303a;
  line-height: 1.7;
  font-size: 14;
  transition: color var(--animation);
}
.footer-contact:hover {
  color: var(--beside-color);
}
.footer-contact-tel {
  color: #ffffff;
  opacity: 0.6;
  background-color: #2f303a;
  line-height: 1.7;
  font-size: 14;
  text-decoration: none;
  transition: color var(--animation);
}

.footer-contact-tel:hover {
  color: var(--beside-color);
}

.button-1 {
  display: flex;
  width: 121px;
  padding: 6px 22px;
  align-items: center;
  margin-right: 8px;
  margin-left: auto;
}
.active:hover,
.active:focus {
  color: white;
  background-color: var(--beside-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color var(--animation);
}

.button-2 {
  display: flex;
  width: 93px;
  padding: 6px 22px;
  align-items: center;
  margin-right: 8px;
}
.button-3 {
  display: flex;
  width: 114px;
  padding: 6px 22px;
  align-items: center;
  margin-right: 8px;
}
.button-4 {
  display: flex;
  width: 91px;
  padding: 6px 22px;
  align-items: center;
  margin-right: 8px;
}
.button-5 {
  display: flex;
  width: 121px;
  padding: 6px 22px;
  align-items: center;
  margin-right: auto;
}
.heading-button {
  display: flex;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  list-style: none;
}
.section-images {
  padding-top: 0;
}
.images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.images-list-photo {
  background-color: #ffffff;
  margin-top: 50px;
  width: 370px;
}
.images-list-photo:hover,
.images-list-photo:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.icon-envelope {
  display: flex;
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--animation);
}
.icon-envelope:hover,
.icon-envelope:focus {
  color: var(--beside-color);
}
.icon-smartphone:hover,
.icon-smartphone:focus {
  color: var(--beside-color);
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  display: flex;
  fill: currentColor;
  margin-right: 10px;
  transition: fill var(--animation);
}
.icon {
  width: 70px;
  height: 70px;
}
.lorem-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-logo > a {
  width: 170px;
  height: 92px;
  display: flex;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.icon-logo > a:hover,
.icon-logo > a:focus {
  color: var(--beside-color);
  border: 1px solid var(--beside-color);
}
.icon-box {
  fill: currentColor;
  width: 106px;
}
.icon-logo-color {
  color: #afb1b8;
}
.icon-logo {
  margin-left: 15px;
  margin-right: 15px;
  transition: color var(--animation);
}

.icon-logo:last-child {
  margin-right: 0;
}
.icon-logo-box {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  list-style: none;
}

.social-media_link > a {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: color var(--animation);
}
.social-media_link:first-child > a {
  margin-left: 32px;
}
.social-media_link:last-child > a {
  margin-right: 20px;
}

.social-media_link > a:hover,
.social-media_link > a:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  display: flex;
}

.footer-social {
  padding-left: 70px;
 
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.connect {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white_color);
}

.social-list {
  display: flex;
  margin-top: 20px;
  list-style: none;
}

.social-list-item {
  margin-right: 10px;
  list-style: none;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-list-item > a {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  transition: color var(--animation);
}

.social-list-item > a:hover,
.social-list-item > a:focus {
  background-color: var(--beside-color);
}

.footer-icon-social {
  fill: currentColor;
}

.box {
  position: relative;
  overflow: hidden;
  height: 404px;
  width: 370px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  color: #fff;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  transition: color var(--animation);
}
.box:hover .overlay {
  transform: translateX(0);
}
.t {
  z-index: 1001;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.activepage {
  color: var(--beside-color);
  position: relative;
}
.activepage::after {
  content: "";
  position: absolute;
  bottom: -35px;
  display: block;
  width: 100%;
  border-top: 4px solid var(--beside-color);
  border-radius: 2px;
}
.service-list {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}

.service-desc {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
}
/*Okno modalne*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--animation);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition: background-color 500ms linear, 600ms;
  padding: 40px;
}

.modal:hover {
  background-color: #fff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000;
}
.label-form {
  position: relative;
  display: block;
  width: 448px;
  height: 58px;
}
.label-position {
  margin-top: 10px;
  margin-bottom: 4px;
}
.icon-form {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  bottom: 9px;
  left: 12px;
  transition: fill var(--animation);
}
.input-form {
  width: 100%;
  height: 40px;
  transition: border var(--animation);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 36px;
}
.input-form:focus + .icon-form {
  fill: var(--beside-color);
}
.form-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  transition: border var(--animation);
}
.input-form:focus-within {
  border: 1px solid var(--beside-color);
  border-radius: 4px;
  outline: none;
}

.form-textarea:focus-within {
  border: 1px solid var(--beside-color);
  border-radius: 4px;
  outline: none;
}
.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  outline: 1px solid #000;
  transition: all var(--animation);
  margin-right: 8px;
  margin-top: 20px;
  cursor: pointer;

}

.blue {
  color: var(--beside-color);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--beside-color);
  background-image: url(../images/checkbox.svg);
  background-position: 0% 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(1px 1px 1px 1px);
}
.form-btn {
  display: block;
  padding: 10px 55px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
  background-color: var(--beside-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border:none;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: backgorund-color var(--animation);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden .modal {
  transform: translate(-100%);
}
.mailing {
  margin-left: auto;
}

.mailing-header {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white_color);
  border: 1px solid rgba(0, 0, 0, 0.15);
  
}

.mailing-form {
  display: flex;
}

.mailing-input {
  width: 358px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.mailing-btn {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  padding: 10px 28px;
  margin-left: 12px;
  background: var(--beside-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.mailing-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}
