.cards{
    @extend %section;
    padding-top:50px;
}
.cards__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: canter;
  gap:29px;
}
.cards__grid-item {
  background-color: #ffffff;
  

&:hover,
&:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}}
// .card {  
// //   border: 1px solid #EEEEEE;
// }

.card__image-box {
   position: relative;
  overflow: hidden; 
  height: 296px;
  width: 370px;
}

.card__overlay {
     position: absolute;
     z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  color: #fff;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  transition: color var(--animation);
}
.card:hover .card__overlay {
  transform: translateX(0);
}


.card__txt-box{
padding: 20px 24px;
height: 110px;


  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__txt-title{
    font-weight: 700;
 font-size: 18px;
  line-height: 2;
  color: #212121;
 
}
.card__txt-description {
    font-size: 16px;
  line-height: 1.8;
  color: var(--brand-color);
  

}