
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-wrap:nowrap;
  gap:30px;
&__link {
  font-size: 14px;
  line-height: 1.1;
  color: var(--brand-color);
  display: flex;
  align-items: center;
   gap:10px;
  transition: color var(--animation);}
&:hover {
  color: var(--beside-color);
}
&__icon {

  fill: currentColor;
  transition: fill var(--animation);}
&:hover,
&:focus {
  color: var(--beside-color);
}}
